
# Folder config file
Desktop.ini
_book
node_modules

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

Network Trash Folder
Temporary Items
.apdisk
